@font-face {
  font-family: Montserrat;
  src: url("../public/Fonts/Montserrat-MediumItalic.ttf");
}

@font-face {
  font-family: MontserratHeading;
  src: url("../public/Fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: MontserratSubHeading;
  src: url("../public/Fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: MontserraTitle;
  src: url("../public/Fonts/Montserrat-BoldItalic.ttf");
}

@font-face {
  font-family: MontserraSubTitle;
  src: url("../public/Fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: MontserratSmall;
  src: url("../public/Fonts/Montserrat-Light.ttf");
}

.montserrat-subtitle {
  font-family: MontserraSubTitle;
}

.montserrat-title {
  font-family: MontserraTitle;
  letter-spacing: 1px;
}

.montserrat-subheading {
  font-family: MontserratSubHeading;
}

.montserrat-heading {
  font-family: MontserratHeading;
}

.montserrat-medium {
  font-family: Montserrat;
}

.montserrat-small {
  font-family: MontserratSmall;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* bouncing wolf */
.logo-div:hover .logo {
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  /* Apply the animation to the element with the [animate-bounce] class */
  animation: bounce 0.5s infinite;
  animation-duration: 1500ms;
}

/* Css for QNA Component */
.show {
  max-height: 1000px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.hide {
  max-height: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/* Dark theme css */
.theme-btn:hover .dark {
  display: inline-block;
}

.light {
  display: inline-block;
}

.theme-btn:hover .light {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* testing */

:root {
  --clr-neon: hsl(0, 1%, 17%);
  --clr-bg: hsl(323 21% 16%);
}

.neon-button {
  font-size: 4rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  /* border: var(--clr-neon) 0.125em solid; */
  /* padding: 0.25em 1em; */
  border-radius: 0.25em;
  /* text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor; */
  /* box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon); */
  position: relative;
}

.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 58%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.2);
  filter: blur(1em);
  opacity: 0.4;
}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}
