@tailwind base;
@tailwind components;
@tailwind utilities;

body {

  background-color: #e9e9f3;

  /* This removes blue background on click of the button */
  -webkit-tap-highlight-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
*::selection {
  /* Set the background color to red */
  background-color: #b3b9c0;
}