@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0b1220;
  /* This removes blue background on click of the button */
  -webkit-tap-highlight-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
*::selection {
  background-color: #1f2937;
}
